h1 {
    color: white;
    font-size: 42px;
    font-weight: 600;
    font-family: LibreBaskerville;
    text-align: center;
    padding-top: 2%;
    background-color: #00497A;
}

header {
    background-color: #00497A;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00497A;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child{
    float:right;
}

li a:hover {
    background-color: #111;
}

#logo{
    width: 35px;
    height: 35px;
}

#creambition{
    width: 50px;
    height: 50px;
    float:left;
}

li:first-child{
    width: 100px;
    height:50px;
}

.active {
    background-color: #00497A;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

section {
    background-color:#00497A;
    background-size: cover;
    background-position: bottom center;
    font-family: LibreBaskerville;
    padding-top: 2%;
    height: 100%;
    width: 100%;
    color:white;
    text-align: center;
}

footer{
    background-color:white;
    background-size: cover;
    padding-top: 0px;
    background-position: bottom center;
    font-family: LibreBaskerville;
    color: #00497A;
    height: 100%;
    width: 100%;
    text-align: right;
    margin-top: 0px;
}




/* Les boutons */

.catalogue {
    display: block;
    padding:6px 0 6px 0;
    margin-left:70%;
    margin-bottom: 30%;
    font:bold 13px LibreBaskerville Arial;
    background:#f5f5f5;
    color:#555;
    width:100px;
    border:1px solid #ccc;
    text-align:center;

}

/* Logo creambition */

#image2 {
    height: 100px;
    width: 100px;
    position:relative;
    bottom: 100px;
    left:85%;
}

/* Téléphone portable*/

@media all and (max-width: 480px) {
    .connexion{width: auto;}
    li:last-child{float: none;}
    .image1{width: auto; float: none; }
    .catalogue{width: auto; position: relative;}
    .mdp_oublie{width: auto; display: none;}
    .sinscrire{width: auto;}
    .connexion{width: auto;}
    #triangle{float: none; display: none; width: auto;}
    #crea{float: none;}
    header{float:none; width: auto;}
    h1{font-size: 1.4em}

}

/* Ordinateur très grand*/

@media all and (min-width:1920px){
    .connexion{width: auto;}
    li:last-child{float: none;}
    .image1{width: auto; float: none; position: relative; margin-right: auto; margin-left: auto;}
    .mdp_oublie{width: auto; display: none;}
    .sinscrire{width: auto;}
    .connexion{width: auto;}
    #crea{float: none;}
    header{float:none; width: auto; }
    h1{font-size: 1.5em}
}

/* Ordinateur moyen */

@media all and (min-width:1024px) and (max-width:1919px){
    .connexion{width: auto;}
    li:last-child{float: none;}
    .mdp_oublie{width: auto;}
    .sinscrire{width: auto;}
    .connexion{width: auto;}
    #crea{float: right;}
    header{float:none; width: auto; }
    h1{font-size: 1.5em}

}