*{
	background: #00497A;
	font-family: "Libre Baskerville", Arial;
}
body{
	height: 100%;
	position: relative;
}
/* barre de navigation */
header ul{  
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-left: 75px;
}

header li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: auto;
	background-color:#00497A;    
}

header ul :first-child {
	border-radius: 10px 0 0 10px;
}

header ul :last-child {
	border-radius: 0 10px 10px 0;
}

header li a{
	display:block;
    float:left;   
    width: auto;
    color:white;
    font-size: medium;
    text-decoration:none;
    padding: 5px;
}

header li a:hover{
	text-decoration: underline;
     color: orange;
}

header .deconnexion a  {
	display: block;
	float: right;
	color:white;
}

header .deconnexion  {
	display: block;
	float: right;
	padding: 5px;
	margin: 0px;
	margin-right: 50px;
	background-color:#00497A;
	border-radius: 10px;
}

header .deconnexion a:hover  {
	text-decoration: underline;
     color: red;
}

header {
	margin-top: 25px;
	background: #00497A;
}
/* fin barre de navigation */

h1
{
	color:white;
  	font-size: 42px;
 	font-weight: 600;
  	font-family: LibreBaskerville;
  	text-align: center;
  	padding-top: 40px
}
header {
  padding-top: 1%;
  background-color:#00497A;
  background-size: cover;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  padding-bottom: 2%;
}
section {
	background-color:#00497A;
  background-size: cover;
  background-position: bottom center;
  font-family: LibreBaskerville;
  padding-top: 2%;
  height: 100%;
  width: 100%;
  color:white;
  text-align: center;
  
}
#soussection{
	display: flex;
    justify-content: space-around;
    

}
.Contact{
	text-align: left;
}
.Photo{
	text-align: left;
}
h2
{
	color:white;
	font-size: large;
}

h3{
	color:white;
	font-size: small; 
}

p
{
    color: white;
}


/* Bas de page */

footer {
	background-color: white;
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	height: 8%;

}
footer ul {
	list-style: none;
	background-color: white;
}
footer ul li {
	display: inline;
	margin-left: 10px;
	text-decoration: none;   
	margin-top: auto;
	margin-bottom: auto;
	background-color: white;
}
footer ul li a{
	color: black;
	background-color: white;
}
footer li:last-child {
	float: right;
	color: black;
}
#createdby{
	position: left;
}



/*footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
footer ul :first-child {
	border-radius: 10px 0 0 10px;
}
footer ul :last-child {
	border-radius: 0 10px 10px 0;
}
footer li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: auto;
	background-color:white;
	list-style-type: none;   
}
footer li a{
	display:block;
    float:left;   
    width: auto;
    color:white;
    font-size: medium;
    text-decoration:none;
    padding: 5px;
}
/*header li a:hover{
	text-decoration: underline;
     color: #;
}*/


/*#triangle {
	width: 0;
	height: 0;
	border-left: 130px solid transparent;
	border-right: 110px solid transparent;
	border-top: 150px solid #00497A;
	position:relative;
	left: 40%;
	bottom: 40px;
	z-index: 1;
}
/* Crated by */

/*#crea {
	float:left;
	position: absolute;
	margin: 0 auto;
}
/*#Apropos{
	color:black;
	z-index: 2;
}
/*#mention{
	color:black;
	z-index: 2;
}
