*{
    text-align: center;
    background-color:#00497A;
    font-family: "Libre Baskerville";
    text-decoration: none;
    color: white;
}



.faq_question {
    margin: 0px;
    padding: 30px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: lightgrey;
}

.faq_reponse {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    color: white;
}
