html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

table{
	width: 100%;
    position: relative;
    margin-left: 20%;
}

.sujet1{
    text-align: center;
    width:60%;
    font-size: 120%;

}

.sujet{
    text-align: center;
    width:60%;
    background-color: darkgrey;
    font-size: 120%;

}

.sujet:hover {
    background-color: lightgrey;
}