*{
    z-index: 100000;
}




header{
    position: relative;
    margin: 0;
    font-family: LibreBaskerville;
    background-color:#00497A;
}

header #menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    background-color:#00497A;
    overflow:hidden;
}

header #menu li {
    float:left;
    margin:auto;
    padding:0;
    background-color:#00497A;
    text-align: center;
}

header #menu li a {
    display:block;
    width:100px;
    height:35px;
    color:white;
    text-decoration:none;
    padding:5px;
}

header #menu li:last-child{
    float:right;
}
header #menu li a:hover {
    background-color:#77B5FE;
}

header #menu ul li ul {
    display:none;
}

header #menu ul li:hover ul {
    display:block;
}

header #menu li:hover ul li {
    float:none;
}

header #menu li ul {
    position:absolute;
}

header #logo{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px){
    #menu ul{
        width: 100%;
        height:auto;
    }
}
