

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    width: 100%;
}

#fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none!important;
}


/*PIECE*/
.piece {
    position: relative;
    display: inline-block;
    float: left;
    width: 300px;
    height: 250px;
    background-image: url("../designs/pictures/salon-moderne.jpg");
    background-size: contain;
    background-size: cover;
    margin-left: 20%;
    margin-top: 5%;
    border: 4px solid #2D241E;
}

.piece .text {
    color: orange;
    font-size: 300%;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.piece .text:hover{
    opacity: 1;
    transition: .5s ease;
}
/*FIN PIECE*/

/*PROFIL*/
.profil {
    display: inline-block;
    position: relative;
    float: right;
    width: 300px;
    height: 250px;
    background-image: url("./designs/pictures/bureau-moderne.jpg");
    background-size: contain;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    margin-right: 20%;
    border: 4px solid #2D241E;
}

.profil .text {
    color: orange;
    font-size: 300%;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.profil .text:hover{
    opacity: 1;
    transition: .5s ease;
}
/*FIN PROFIL*/

/*CATALOGUE*/
.catalogue {
    display:inline-block;
    position: relative;
    float: right;
    width: 300px;
    height: 250px;
    background-image: url("./designs/pictures/catalogue.jpg");
    background-size: contain;
    background-size: cover;
    background-position: center;
    margin-right: 20%;
    margin-top: 3%;
    border: 4px solid #2D241E;
}

.catalogue .text {
    color: orange;
    font-size: 250%;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.catalogue .text:hover{
    opacity: 1;
    transition: .5s ease;
}
/*FIN CATALOGUE*/

/*CONSOMMATION*/
.consommation {
    display: inline-block;
    position: relative;
    float: left;
    width: 300px;
    height: 250px;
    background-image: url("./designs/pictures/graph.jpg");
    background-size: contain;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    margin-left: 20%;
    border: 4px solid #2D241E;
}

.consommation .text {
    color: orange;
    font-size: 200%;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.consommation .text:hover{
    opacity: 1;
    transition: .5s ease;
}
/*FIN CONSOMMATION*/



