body {
    position: relative;
    color: #f8f8f8;
    background-color: rgb(89, 163, 212);
    height:100%;
}
#affichage {
    /* border-style: dotted; */
    position: relative;
    text-align: center;
    margin: auto; 
    margin-top: 10%;
}



/* Clear out these styles to start fresh or use this as a base! */

@import url(https://fonts.googleapis.com/css?family=Kanit:600);

html { height: 100%; display: flex; }
body { margin: auto; }
html, body {
  background: #00043C;
  color: #FFF;
  font: normal 600 1vw/1.5 Kanit, sans-serif;
}

.splitting .char {
  animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-.5turn) scale(0.5);
    opacity: 0;
  }
}