html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    width: 100%;
}

#fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#mode{
    position: relative;
    margin-top: 3%;

    font-size: 150%;
}
#mode p{
    margin-left: 41%;    /*position du texte*/
}

#mode input{
    margin-left: 27%;    /*position des choix*/
}

#lumiere_auto{
    display: inline-block;
    position: relative;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 150%;
}
#lumiere_auto select{
    font-size: 80%;
}

#lumiere_manuel{
    display: inline-block;
    position: relative;
    font-size: 90%;
    margin-top: 3%;
    margin-left: 23%;
}

#ouverture_volets{
    display: inline-block;
    position: relative;
    width: 81.5%;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 10.5%;
}

#ouverture_volets input{
    font-size: 80%;
}

#volets_manuel{
    display: inline-block;
    position: relative;
    font-size: 90%;
    margin-top: 3%;
    margin-left: 23%;
}

#fermeture_volets{
    display: block;
    position: relative;
    font-size: 150%;
    margin-top: 3%;
    margin-left: 10.5%;
}

#fermeture_volets input{
    font-size: 80%;
}

#ventilateur{
    display: inline-block;
    position: relative;
    margin-top: 3%;
    margin-left: 44%;
    font-size: 150%;
}

#ventilateur select{
    font-size: 80%;
}

#temperature{
    display: block;
    position: relative;
    font-size: 150%;
    margin-top: 2%;
    margin-left: 45%;
}

#temperature input{
    width: 7%;
    font-size: 80%;
}

#valider{
    display: block;
    position: relative;
    font-size: 150%;
    margin-top: 2%;
    margin-left: 48%;
}

#valider input{

    font-size: 100%;
}