html,body{
    margin: 0;
    padding:0;
    width: 100%;
    background-color:#00497A;
    text-decoration: none;
    color:white;
}

section{
    padding-top: 10%;
}

h1{
    color:white;
    text-align: center;
}

li {
    float:left;
    margin:auto;
    padding:0;
    background-color:#00497A;
    text-align: center;
    text-decoration: none;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
