html,body{
    margin: 0;
    padding:0;
    width: 100%;
    background-color:#00497A;
    text-decoration: none;
    color:white;
}

section{
    padding-top: 10%;
    text-align: center;
}

h1{
    color:white;
    text-align: center;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    text-align: center;
    margin-left: 35%;
}

td /* Toutes les cellules des tableaux... */
{
    border: 1px solid white; /* auront une bordure de 1px */
    text-align: center;
}

thead{
    background-color:#77B5FE;
    text-align: center;
}

a{
    text-decoration: none;
    color:white;
}
